h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
hr {
  width: 80%;
  margin-top: -30px;
  margin: 10px auto;
}
:root {
  --back--: #000;
  --back-up--: #111;
  --text--: #fff;
  --main--: #255;
}
body {
  background-color: var(--back--);
  color: var(--text--);
}
.top {
  width: 100%;
  height: 500px;
  text-align: center;
  background-color: var(--back-up--);
}
.top .panar {
  border-radius: 20px;
  width: 100%;
}
.top .panar img {
  margin: 10px;
  width: 100%;
}

.top .proimg {
  ppostsition: relative;
  top: -70px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 200px;
}
.top .proimg img {
  border: 5px solid var(--back--);
  border-radius: 50%;
}
.top .proimg h2,
h3 {
  ppostsition: relative;
  top: -50px;
  left: 5px;
  display: flex;
  margin: auto;
}
.info {
  display: flex;
  margin: auto;
}
.top .folimgs {
  display: flex;
  align-items: center;
  margin-top: -50px;
}

.folimgs img {
  margin: 20px -5px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid var(--back--);
}
/* pro header  */
.prohead ul {
  display: flex;
  margin: 0 10%;
  align-items: center;
  justify-content: space-between;
}
.prohead li {
  text-decoration: none;
  color: var(--main--);
}


  .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .posts .prodcard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    border-left: 2px solid #182d5555;
    border-top: 2px solid #182d5555;
    width: 200px;
    height: 260px;
    margin: 10px;
    transform-style: preserve-3d;
    transition: ease-in-out 1s;
  }
  .posts .prodcard:hover {
    transform: rotateY(180deg);
  }
  .prodcard img {
    display: flex;
    margin: 7% auto;
    width: 95%;
    border-radius: 20px;
    transition: 1s;
  }
  .prodcard .front h3 {
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .prodcard .front h4 {
    display: block;
    margin-right: 10px;
  }
  .prodcard .back h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  .prodcard .back .but {
    display: flex;
  }
  .prodcard .back .but .icon{
    margin: 0 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: #ffcaa6;
    border: solid 1px #252525;
  }

  .prodcard .front,
  .prodcard .back {
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  .posts .prodcard .front {
    margin: 0 10px;
    transform-style: preserve-3d;
    transform: translateZ(70px);
  }
  
  .prodcard .back {
    transform-style: preserve-3d;
    transform:  translateZ(-70px) rotateY(180deg);
  }