@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;&display=swap");
@import url("/font-awesome-4.6.3/css/font-awesome.min.css");

* {
  margin: 0;
  padding: 0;
}

:root {
  --pramry--: #fff;
  --sacandry--: #fbeddf;
  --main--: #9a6f38;
  --text--: #000;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-track {
  box-shadow: solid white;
}
::-webkit-scrollbar-thumb {
  background: var(--sacandry--);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text--);
}

.ibm-plex-sans-arabic-thin {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.material-symbols-outlined {
  margin: 0 2px;
  cursor: pointer;
  transform: 0.5s;
  font-variation-settings: "FILL" 0, "wght" 5 0, "GRAD" 0, "opsz" 24;
}
header .material-symbols-outlined:hover {
  color: var(--main--);
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  text-align: right;
}
input {
  border: solid 1px var(--main--);
  width: 60%;
  height: 30px;
  border-radius: 10px;
  padding: 0 10px;
  margin: 10px 0;
}
input::placeholder {
  color: #000;
  font-weight: bold;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
/* --- Background --- */
.background {
  background-image: url("../Assets/Background.png");
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  background-position-x: right;
  top: 0px;
  z-index: -3;
}

/* --- Header --- */
header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 15px 20px;
}

header img {
  width: 45px;
}

header .logo {
  margin: 0 0 0 10%;
}

header ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 18px;
}

header li {
  display: flex;
  margin: 0 2vw 0 2vw;
  font-weight: bold;
}
.ul {
  margin-left: 10%;
}
header .searchin {
  position: absolute;
  top: 55px;
  left: 20px;
  transform: translateY(-150px);
  transition: 1s;
}

/* search  */
.search_container #results {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}
.search_container {
  text-align: center;
}
.search_container form {
  display: flex;
  justify-content: center;
}
.searchmodel{
  display: none;
}
/* --- Body --- */
body {
  display: flex;
  background-color: var(--pramry--);
  color: var(--text--);
  text-align: right;
  flex-direction: column;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: lighter;
  overflow-x: hidden;
}

.body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 9vh;
}

a {
  color: var(--text--);
  text-decoration: none;
}

/* Paner sectian */
.paner {
  margin: 1% 1% 5% 1%;
}
.paner img {
  max-height: 500px;
  width: 100%;
  border-radius: 20px;
}
.paner .pc {
  display: block;
}
.paner .ph {
  display: none;
}
#categories .container .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20%;
}
/* categro header  */
.catdiv {
  margin: 10px 20px;
}
/* product cart */
.products .card {
  width: 150px;
  height: 200px;
  text-align: right;
  margin: auto 5%;
}

.products .card_img {
  /* clear and add new css */
  transition: all 0.5s;
  display: flex;
  justify-content: center;
}

.products .card_img img {
  /* delete */
  transform: scale(1);
  box-sizing: border-box;
  border-radius: 10px;
  width: 90%;
  max-height: 100%;
  display: flex;
  margin: auto;
}
.products .new {
  position: absolute;
  top: 5px;
  left: 20px;
  color: #fff;
  border: solid 2px var(--main--);
  border-radius: 5px;
}
.products .card_title {
  font-size: 20px;
  text-align: center;
  color: var(--font-color);
}

.products .card_footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.products .card_price {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color);
}

.products .card_price span {
  font-size: 20px;
  font-weight: 300;
  color: var(--font-color-sub);
}

.products .card_btn {
  height: 35px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.products .card_img:hover {
  transform: translateY(-3px);
}

.products .card_btn:hover {
  border: 2px solid var(--sacandry--);
}

/* ----- prudact box ----- */

.product_box {
  width: 60%;
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 300px;
}

.product_img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_img-box img {
  width: 70%;
  max-width: 600px;
  min-width: 300px;
  border-radius: 30px;
  display: flex;
}

.product_detail-box {
  display: flex;
  margin: 10% -10px;
  text-align: center;
  color: var(--text--);
  flex-direction: column;
}

.product_detail-box .price {
  display: inline-block;
  border-radius: 5px;
  background-color: var(--backtow--);
  color: var(--text--);
  padding: 2px 2px;
  margin-bottom: 15px;
  font-weight: bold;
}

.product_box .likebut{
  background: none;
  border: none;
  position: relative;
  top: 7px;
}
@media (max-width: 600px) {
  .product_box {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
  }

  .product_img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
  }

  .product_img-box img {
    width: 100%;
    border-radius: 10px;
  }

  .product_img-box span {
    display: inline-block;
    background-color: #fff9a8;
    color: var(--text--);
    padding: 2px 2px;
    margin-bottom: 15px;
    font-weight: bold;
  }

  .product_detail-box {
    text-align: center;
    color: var(--text--);
    margin-top: 10px;
  }
}

.product_detail-box .adcart {
  align-self: center;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
  background-color: var(--text--);
  font-weight: bold;
  letter-spacing: 0.1em;
  transition: 0.4s ease-in-out opacity, 0.1s ease-in-out active;
  padding: 1em;
}

/* --- Footer --- */
footer {
  color: var(--main--);
  background: radial-gradient(
    circle,
    rgba(251, 237, 223, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: 30px;
}
footer ul {
  display: flex;
  margin: 10px auto;
  justify-content: center;
}
footer .fa-brands {
  margin: 0 20px;
  font-size: 30px;
  color: var(--main--);
}
footer p {
  font-weight: bold;
  text-align: center;
  color: var(--main--);
}
footer hr {
  border: solid 1px #cacaca;
  margin: 5px 0px;
}
/* -- Media Adjustment -- */
@media (max-width: 1080px) {
  header ul {
    margin-right: 7vw;
    /* font-size: 12px; */
  }
}

@media (max-width: 600px) {
  .paner .pc {
    display: none;
  }
  .paner .ph {
    display: block;
  }
  header ul {
    background: #06071c;
    text-align: right;
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
    position: fixed;
    top: 100px;
    right: 0;
    transition: transform 0.5s ease-in-out;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    transform: translateX(100%);
  }

  header ul.open {
    transform: translateX(0);
  }

  header span:hover {
    color: var(--main--);
  }

  .logo {
    margin: 20px 0;
  }
  /* search  */
  .search_container #results {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }
  .search_container {
    text-align: center;
  }
  .search_container form {
    display: flex;
    justify-content: center;
  }
}
