@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;&display=swap");
@import url("/font-awesome-4.6.3/css/font-awesome.min.css");

* {
  margin: 0;
  padding: 0;
}

:root {
  --pramry--: #fff;
  --sacandry--: #fbeddf;
  --main--: #9a6f38;
  --text--: #000;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-track {
  box-shadow: solid white;
}
::-webkit-scrollbar-thumb {
  background: var(--sacandry--);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text--);
}

.ibm-plex-sans-arabic-thin {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.material-symbols-outlined {
  margin: 0 2px;
  color: var(--text--);
  cursor: pointer;
  transform: 0.5s;
  font-variation-settings: "FILL" 0, "wght" 5 0, "GRAD" 0, "opsz" 24;
}
header .material-symbols-outlined:hover {
  color: var(--main--);
}
h1 {
  display: block;
  font-weight: bold;
  text-align: center;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}
input,
select {
  border: solid 1px var(--main--);
  width: 60%;
  height: 30px;
  border-radius: 10px;
  padding: 0 10px;
  margin: 10px 0;
}
input::placeholder,
select::placeholder {
  color: #000;
  font-weight: bold;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
input[type="number"] {
  width: 30px;
}
button {
  color: var(--pramry--);
  background-color: var(--main--);
  border-radius: 10px;
  padding: 10px;
  border: none;
}
img {
  border-radius: 20px;
}
/* --- Background --- */
.background {
  background-image: url("../Assets/Background.png");
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  background-position-x: right;
  top: 0px;
  z-index: -3;
}

/* --- Header --- */
header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 15px 20px;
}

header img {
  width: 45px;
}

header .logo {
  margin: 0 0 0 10%;
}

header ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 18px;
}

header li {
  display: flex;
  margin: 0 2vw 0 2vw;
  font-weight: bold;
}
.ul {
  margin-left: 10%;
}
header .searchin {
  position: absolute;
  top: 55px;
  left: 20px;
  transform: translateY(-150px);
  transition: 1s;
}

/* search  */
.search_container #results {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}
.search_container {
  text-align: center;
}
.search_container form {
  display: flex;
  justify-content: center;
}
.searchmodel {
  display: none;
  transition: 0.3s;
}
/* cart */
.model {
  overflow-y: scroll;
  display: none;
  transition: 0.3s;
  right: 0px;
  top: 0px;
  width: 390px;
  height: 100%;
  z-index: 100;
  padding: 30px 10px;
  padding-bottom: 100px;
  position: fixed;
  background-color: var(--pramry--);
  box-shadow: -20px 0px 0px 1000px #0000005c;
}
.model table {
  width: 100%;
  text-align: left;
}
.model .cart {
  margin: 10px 0px;
}
/* Body */
body {
  display: flex;
  background-color: var(--pramry--);
  color: var(--text--);
  text-align: right;
  flex-direction: column;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: lighter;
  overflow-x: hidden;
}

.body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 9vh;
}

a {
  color: var(--text--);
  text-decoration: none;
}

/* Paner sectian */
.paner {
  margin: 1% 1% 5% 1%;
}
.paner img {
  max-height: 500px;
  width: 100%;
  border-radius: 20px;
}
.paner .pc {
  display: block;
}
.paner .ph {
  display: none;
}
#categories .container .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20%;
}
/* categro header  */
.catdiv {
  margin: 10px 20px;
}
#categories .cat img {
  width: 50px;
  border-radius: 50%;
}
/* product cart */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products .prodcard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: right;
  border-radius: 20px;
  width: 200px;
  height: 260px;
  margin: 20px 10px;
  transform-style: preserve-3d;
  transition: ease-in-out 1s;
}
.products .prodcard:hover {
  transform: rotateY(180deg);
}

.prodcard img {
  display: flex;
  margin: 7% auto;
  width: 95%;
  border-radius: 20px;
  transition: 1s;
}
.prodcard .title h3 {
  display: block;
  margin-bottom: 10px;
  margin-right: 10px;
}
.prodcard .tilte h4 {
  display: block;
  margin-right: 10px;
}
.prodcard .front .new {
  display: flex;
  position: absolute;
  top: 20px;
  left: 10px;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 20px;
  border: 1px solid var(--main--);
}
.prodcard .back h2 {
  text-align: center;
  margin-bottom: 30px;
}
.prodcard .back .but {
  display: flex;
}
.prodcard .back .but a {
  display: block;
}
.prodcard .but .icon {
  margin: 0 10px;
  padding: 10px;
  color: var(--text--);
  transition: 0.5s;
  border-radius: 50%;
  background-color: #fff;
  border: solid 1px #252525;
}
.prodcard .but .icon:hover {
  background-color: #ffcaa6;
  border: solid 1px #ffcaa6;
}

.prodcard .front,
.prodcard .back {
  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.posts .prodcard .front {
  margin: 0 10px;
  transform-style: preserve-3d;
  transform: translateZ(70px);
}

.prodcard .back {
  transform-style: preserve-3d;
  transform: translateZ(-70px) rotateY(180deg);
  padding: 30px;
  background: radial-gradient(
    circle,
    rgba(251, 237, 223, 1) 0%,
    rgba(255, 255, 255, 1) 50%
  );
}
/* ----- prudact box ----- */

.product_box {
  width: 60%;
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 300px;
}

.product_img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_img-box img {
  width: 70%;
  max-width: 600px;
  min-width: 300px;
  border-radius: 40%;
  display: flex;
}

.product_detail-box {
  display: flex;
  margin: 10% -10px;
  text-align: center;
  color: var(--text--);
  flex-direction: column;
}

.product_detail-box .price {
  display: inline-block;
  border-radius: 5px;
  background-color: var(--backtow--);
  color: var(--text--);
  padding: 2px 2px;
  margin-bottom: 15px;
  font-weight: bold;
}

.product_box .likebut {
  background: none;
  border: none;
  position: relative;
  top: 7px;
}
@media (max-width: 500px) {
  .product_box {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
  }

  .product_img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
  }

  .product_img-box img {
    width: 100%;
    border-radius: 10px;
  }

  .product_img-box span {
    display: inline-block;
    background-color: #fff9a8;
    color: var(--text--);
    padding: 2px 2px;
    margin-bottom: 15px;
    font-weight: bold;
  }

  .product_detail-box {
    text-align: center;
    color: var(--text--);
    margin-top: 10px;
  }

  .products {
    justify-content: space-between;
  }
  .products .prodcard {
    width: 160px;
  }
}

.product_detail-box .adcart {
  align-self: center;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
  background-color: var(--text--);
  font-weight: bold;
  letter-spacing: 0.1em;
  transition: 0.4s ease-in-out opacity, 0.1s ease-in-out active;
  padding: 1em;
}

/* --- Footer --- */
footer {
  color: var(--main--);
  background: radial-gradient(
    circle,
    rgba(251, 237, 223, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: 30px;
}
footer ul {
  display: flex;
  margin: 10px auto;
  justify-content: center;
}
footer .fa-brands {
  margin: 0 20px;
  font-size: 30px;
  color: var(--main--);
}
footer p {
  font-weight: bold;
  text-align: center;
  color: var(--main--);
}
footer hr {
  border: solid 1px #cacaca;
  margin: 5px 0px;
}
/* -- Media Adjustment -- */
@media (max-width: 1080px) {
  header ul {
    margin-right: 7vw;
    /* font-size: 12px; */
  }
}

@media (max-width: 600px) {
  .paner .pc {
    display: none;
  }
  .paner .ph {
    display: block;
  }
  header ul {
    background: #06071c;
    text-align: right;
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
    position: fixed;
    top: 100px;
    right: 0;
    transition: transform 0.5s ease-in-out;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    transform: translateX(100%);
  }

  header ul.open {
    transform: translateX(0);
  }

  header span:hover {
    color: var(--main--);
  }

  .logo {
    margin: 20px 0;
  }
  /* search  */
  .search_container #results {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }
  .search_container {
    text-align: center;
  }
  .search_container form {
    display: flex;
    justify-content: center;
  }
}

/* dashboard */
.dash {
  margin: 10px 10%;
  padding: 20px;
  text-align: center;
}
.dash .upprod {
  display: flex;
  flex-direction: column-reverse;
  border: solid 1px var(--main--);
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}
.dash .overview {
  display: flex;
  flex-wrap: wrap;
}
.dash .overview .card {
  display: flex;
  padding: 10px;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--main--);
}
/* orders */
.orders {
  margin: 30px 10px;
  padding: 20px;
  border: 1px solid var(--main--);
  border-radius: 20px;
}
/* more */
.cropper-container {
  height: 200px;
}
.masseg {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 100;
  padding: 10px;
  border-radius: 10px;
  color: var(--pramry--);
  background-color: var(--main--);
  transition: 1s;
  transform: translateX(350px);
  animation: msg 5s;
}
@keyframes msg {
  0% {
    transform: translateX(350px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(350px);
  }
}
/* table style  */
table img {
  max-width: 150px;
  border-radius: 20px;
}
table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

table * {
  position: relative;
}

table td,
table th {
  padding-left: 8px;
}

table thead tr {
  height: 60px;
  background: var(--main--);
}

table tbody tr {
  height: 50px;
}

table tbody tr:last-child {
  border: 0;
}

table td,
table th {
  text-align: left;
}

table td.l,
table th.l {
  text-align: right;
}

table td.c,
table th.c {
  text-align: center;
}

table td.r,
table th.r {
  text-align: center;
}

.table100-head th {
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: gray;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.column1 {
  width: 260px;
  padding-left: 40px;
}

.column2 {
  width: 160px;
}

.column3 {
  width: 245px;
}

.column4 {
  width: 110px;
  text-align: right;
}

.column5 {
  width: 170px;
  text-align: right;
}

.column6 {
  width: 222px;
  text-align: right;
  padding-right: 62px;
}

@media screen and (max-width: 992px) {
  table {
    display: block;
  }

  table > *,
  table tr,
  table td,
  table th {
    display: block;
  }

  table thead {
    display: none;
  }

  table tbody tr {
    height: auto;
    padding: 37px 0;
  }

  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }

  table tbody tr td:last-child {
    margin-bottom: 0;
  }

  table tbody tr td:before {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }

  table tbody tr td:nth-child(1):before {
    content: "الصورة";
  }

  table tbody tr td:nth-child(2):before {
    content: "اسم المنتج";
  }

  table tbody tr td:nth-child(3):before {
    content: "سعر المنتج";
  }

  table tbody tr td:nth-child(4):before {
    content: "الكمية";
  }

  table tbody tr td:nth-child(5):before {
    content: "اجمالي السعر";
  }

  table tbody tr td:nth-child(6):before {
    content: "اسم العميل";
  }

  .column4,
  .column5,
  .column6 {
    text-align: left;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
